.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8eb0f9; /* #acc4f7 */
    border-radius: 30px;
    padding: 0.5%;
    color: rgb(254, 254, 254);
    margin: 1%;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin-right: 2%;
    padding: 0;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #8da7fd;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: #333;
  }

  .logo-container {
    display: flex;
    align-items: center;
    
  }

  .logo-image {
    width: 100px;
    height: 1--px;
    margin-right: 10px;
  }